.image-popup__close-icon {
    padding: 0;
    margin: 0;
    width: 48.28px;
    height: 48.28px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    position: absolute;
    top: -50px;
    right: -40px;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media (max-width:560px) {
    .popup__close-icon {
        width: 36.7px;
        height: 36.7px;
        top: -40px;
        right: -10px;
    }
}