.header__logo {
    margin-top: 0;
    margin-left: 0;
    width: 142px;
    height: 33px;
}

@media (max-width:480px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-top: 0px;
        margin-left: 27px;
    }
}