.popup__header {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 54px 0;
}

@media (max-width:560px) {
    .popup__header {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px 0;
    }
}