.edit-form__button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    border: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.edit-form__button:hover {
    opacity: 0.8;
}