.popup__image {
  max-height: 540px;
  width: auto;
  object-fit: contain;
  display: block;
}

@media (max-width: 1270px) {
  .popup__image {
    max-height: 600px;
    max-height: 350px;
  }
}

@media (max-width: 840px) {
  .popup__image {
    max-height: 299px;
    max-width: 240px;
  }
}
