.edit-form__close-icon {
    padding: 0;
    margin: 0;
    width: 48.28px;
    height: 48.28px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    position: relative;
    top: -185px;
    left: 420px;
}

@media (max-width:560px) {
    .edit-form__close-icon {
        width: 36.7px;
        height: 36.7px;
        top: -185px;
        left: 245.3px;
    }
}